* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #424551;
}

.header {
  margin: 0 auto;
  font-weight: 700;
  background: url(/img/blocks/1-block/shapes.png), linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2));
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.main__about {
  margin-top: 180px;
  margin-bottom: 160px;
}

.main__directions {
  padding-bottom: 180px;
}

.container {
  max-width: 1260px;
  padding: 0px 15px;
  margin: 0 auto;
  height: 100%;
}

.burger {
  display: none;
}

.button {
  display: inline-block;
  color: #fff;
  line-height: 52px; /* 325% */
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 0 40px;
  border-radius: 4px;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
  white-space: nowrap;
  -webkit-transition: 0.5s ease;
}
.button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.button a {
  color: #fff;
}

.button--empty {
  white-space: nowrap;
  border: 1px solid #FF3F3A;
  background: rgba(255, 255, 255, 0);
}
.button--empty span {
  color: #FF3F3A;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading {
  color: #1E212C;
}

.heading__subtitle {
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.heading__title {
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 48px;
}

.heading--center {
  text-align: center;
}

.header__top-inner {
  padding-bottom: 128px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
  white-space: nowrap;
}
.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  font-weight: 700;
  color: #424551;
  line-height: 1.6;
  -webkit-transition: 0.5s ease;
}
.header__nav-link:hover {
  color: #FF3F3A;
}

.header__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-btn {
  margin-right: 36px;
}

.header__user-nav {
  padding-left: 28px;
  position: relative;
  white-space: nowrap;
}
.header__user-nav::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("/img/blocks/1-block/Profile.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: block;
}
.header__user-nav a {
  color: #424551;
  font-weight: 700;
}

.header__user-btn {
  line-height: 1.6;
  -webkit-transition: 0.5s ease;
}
.header__user-btn:hover {
  color: #FF3F3A;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1E212C;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #1E212C;
}
.header__play:hover svg {
  -webkit-box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
          box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
  -webkit-transition: 1s ease;
}
.header__play svg {
  margin-right: 16px;
  border-radius: 50%;
}

.header__title {
  max-width: 496px;
  letter-spacing: 1;
  color: #1E212C;
  font-family: Lato;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  padding-bottom: 60px;
  padding-top: 51px;
}

.header__btn-box_ {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: inline-block;
  white-space: nowrap;
}

.header__content-buttons:last-child {
  margin-left: 20px;
}

.button--empty {
  border: 1px solid #FF3F3A;
  background: rgba(255, 255, 255, 0);
}
.button--empty span {
  color: #FF3F3A;
}

@media (max-width: 1200px) {
  .header__title {
    font-size: 52px;
    max-width: 376px;
  }
}
@media (max-width: 500px) {
  .header__title {
    font-size: 40px;
    max-width: 376px;
  }
  .header__btn-box_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__btn-box_ .header__content-buttons {
    text-align: end;
    margin: 0 0 20px;
  }
  .header__btn-box_ .button--empty {
    text-align: start;
  }
  .header__content {
    padding: 20px 0 100px;
  }
}
.header__row {
  padding-bottom: 80px;
  margin-top: 190px;
  color: #1E212C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__row > span {
  width: 8px;
  height: 8px;
  background-color: #FF3F3A;
  border-radius: 50%;
  margin: 0 15px;
}

.header__row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__row-item span {
  margin-right: 12px;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
}

.about__createx {
  margin-bottom: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.about__createx::before {
  content: "";
  position: absolute;
  top: -80px;
  right: -160px;
  background: url(/img/blocks/3-more-numbers/shapes1.svg);
  width: 100px;
  height: 85px;
}

.about__paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.about__text {
  margin-right: 30px;
  max-width: 600px;
  margin-bottom: 60px;
}

.about__paragraph--accent {
  color: #1E212C;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}

.about__buttons {
  margin-right: 24px;
}
.about__buttons:last-child {
  margin-right: 0;
}

.about__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__img-box {
  border-radius: 4px;
}
.about__img-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__numbers {
  margin-left: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__number {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
.about__number span {
  padding-right: 16px;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%; /* 62.4px */
  letter-spacing: 1px;
  color: #FF3F3A;
}
.about__number:last-child {
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .about__heading .heading__title {
    font-size: 30px;
    margin: 0;
  }
  .about__heading .heading__subtitle {
    font-size: 12px;
  }
  .main__about {
    margin-top: 100px;
  }
  .about__createx {
    margin-bottom: 100px;
  }
  .about__btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__btn-box .about__buttons {
    text-align: end;
    margin: 0 0 20px;
  }
  .about__btn-box .button--empty {
    text-align: start;
  }
}
.direction__heading {
  margin-bottom: 90px;
}

.directions__filter-box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.directions__filter-item {
  margin-bottom: 15px;
  margin-right: 45px;
}
.directions__filter-item:last-child {
  margin-right: 0;
}

.directions__filter-btn {
  line-height: 160%;
  font-size: 16px;
  color: #9A9CA5;
  border-radius: 4px;
  border: 1px solid #9A9CA5;
  font-weight: 700;
  padding: 0 8px;
  background-color: #fff;
  white-space: nowrap;
}
.directions__filter-btn:hover {
  background: linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%);
  color: #fff;
  border: 1px solid #F75E05;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.directions__filter-btn:focus {
  background: linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%);
  color: #fff;
  border: 1px solid #F75E05;
}

.directions__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 30px auto;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
      grid-template: repeat(2, auto)/repeat(3, 1fr);
  gap: 30px;
}

.directons__list-items {
  border: 1px solid #E5E8ED;
  border-radius: 4px;
}

.directions_image-box img {
  height: 100%;
  width: 100%;
}

.directions__link-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
}

.directons__list-items--marketing .directions__link-tag {
  background-color: #03CEA4;
}

.directons__list-items--management .directions__link-tag {
  background-color: #5A87FC;
}

.directons__list-items--hr .directions__link-tag {
  background-color: #F89828;
}

.directons__list-items--design .directions__link-tag {
  background-color: #F52F6E;
}

.directons__list-items--development .directions__link-tag {
  background-color: #7772F1;
}

.directions__link-tag {
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background-color: #999;
  padding: 6px 8px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 20px;
  border-radius: 4px;
}

.directions__link-text {
  color: #787A80;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 20px;
}

.directions__link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  line-height: 160%;
  color: #1E212C;
}
.directions__link-btn:hover {
  color: #FF3F3A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.directions__link-btn::after {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: url("/img/arrow/RightRed.svg") 0 5px/100% no-repeat;
  margin-left: 11px;
}

.directions__list-link {
  display: block;
  border-radius: 4px;
  overflow: hidden;
}
.directions__list-link:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
          box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.directons__list-items--empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  background-color: #F4F5F6;
  border: 1px solid #F4F5F6;
}
.directons__list-items--empty p {
  max-width: 242px;
}

@media (max-width: 900px) {
  .directions__filter-item {
    margin-right: 10px;
  }
  .directions__list {
    gap: 30px 10px;
  }
  .directions__link-content {
    padding: 18px 10px 10px 10px;
  }
}
@media (max-width: 700px) {
  .directions__list {
    -ms-grid-rows: (auto)[3];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(3, auto)/repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .directions__list {
        grid-template: none;
  }
  .directons__list-items--empty {
    display: none;
  }
}
@media (max-width: 450px) {
  .directions__filter-box {
    margin-bottom: 15px;
  }
}
.main__cert {
  margin-bottom: -46px;
}

.cert__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cert__content {
  width: 397px;
}

.cert__heading {
  margin-bottom: 48px;
}

.cert__text {
  margin-bottom: 32px;
  line-height: 160%;
  color: #424551;
}

.cert__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}
.cert__logos:last-child {
  margin-right: 0;
}

.cert__logos-item {
  margin-right: 40px;
}
.cert__logos-item:last-child {
  margin-right: 0;
}

.cert__image-box {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cert__image-box img {
  max-width: 7005px;
}

.main__team {
  padding: 160px 0px 180px;
}

.team {
  background: #F4F5F6;
}

.team__heading {
  margin-bottom: 60px;
  position: relative;
}

.team__slider .slick-list {
  margin: 0 -15px;
}

.team__slide {
  padding: 0 15px;
}
.team__slide:hover .team__socials {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.team__image-box {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 16px;
}

.team__image {
  position: relative;
  height: 339px;
}
.team__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.9%, rgba(30, 33, 44, 0)), color-stop(55.21%, rgba(30, 33, 44, 0.03)), color-stop(68.73%, rgba(30, 33, 44, 0.33)), color-stop(76.17%, rgba(30, 33, 44, 0.56)), color-stop(83.75%, rgba(30, 33, 44, 0.77)), color-stop(91.49%, rgba(30, 33, 44, 0.92)), to(#1E212C));
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.team__socials-item {
  margin-right: 12px;
}
.team__socials-item:last-child {
  margin-right: 0;
}

.team__socials-link path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.team__socials-link:hover path {
  fill: #fff;
}

.team__text-info {
  text-align: center;
}

.team__info-name {
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 5px;
}

.team__info-position {
  line-height: 160%;
  color: #787A80;
}

.team__slider-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
}

.team__slider-arrows {
  z-index: 5;
}

.team__slider-arrow:hover path {
  fill: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.team__slider-arrow::before {
  content: "";
  position: absolute;
  -webkit-transform: translate(-25%, -25%) scale(0);
          transform: translate(-25%, -25%) scale(0);
  width: 48px;
  height: 48px;
  background-color: #FF3F3A;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.team__slider-arrow:hover::before {
  -webkit-transform: translate(-25%, -25%) scale(1);
          transform: translate(-25%, -25%) scale(1);
}

.team__slider-prev {
  margin-right: 24px;
}

@media (max-width: 500px) {
  .team__heading {
    text-align: center;
  }
  .main__team {
    padding: 100px 0;
  }
  .main__team .team__slider-arrows {
    display: none;
  }
}
.testimonials__main {
  padding-bottom: 195px;
}

.testimonials {
  background: url("/img/blocks/7-testimonials/Group 3.png") 100% 25% no-repeat #F4F5F6;
}

.testimonials__heading {
  margin-bottom: 60px;
}

.testimonials__slider-wrapper {
  padding: 0 50px;
  position: relative;
}

.testimonials__slider {
  max-width: 1020px;
  margin: 0 auto;
}

.testimonials__slide {
  -webkit-box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
          box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  border-radius: 4px;
  background-color: #fff;
  padding: 64px;
}

.testimonials__slide-inner {
  padding-left: 58px;
  max-width: 810px;
  margin: 0 auto;
}

.testimonials__quote {
  position: relative;
  line-height: 150%;
  font-size: 20px;
  padding-bottom: 24px;
}
.testimonials__quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: -58px;
  background: url("/img/blocks/7-testimonials/braces.svg") no-repeat;
  width: 28px;
  height: 20px;
  display: block;
}

.testimonials__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__user-avatar {
  padding-right: 20px;
}
.testimonials__user-avatar img {
  border-radius: 50%;
}

.testimonials__info-name {
  line-height: 150%;
  font-weight: 700;
}

.testimonials__info-position {
  line-height: 150%;
}

.testimonials__arrows {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.testimonials__arrows:hover path {
  fill: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.testimonials__arrows::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  background: #FF3F3A;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 0.3S;
  transition: all 0.3S;
}
.testimonials__arrows:hover::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.testimonomials__prev {
  left: 0;
}

.testimonomials__next {
  right: 0;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.slick-dots button {
  font-size: 0;
  background-color: transparent;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}
.slick-dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #B3B7BC;
  border-radius: 4px;
}

#slick-slide-control14 {
  margin-right: 0;
}

.slick-active button::before {
  background-color: #424551;
}

@media (max-width: 800px) {
  .testimonials__slider-wrapper {
    padding: 0;
  }
  .testimonials__arrows {
    display: none;
  }
}
@media (max-width: 550px) {
  .testimonials__heading .heading__title {
    font-size: 30px;
  }
  .testimonials__quote {
    font-size: 17px;
  }
  .testimonials__user-avatar img {
    width: 63px;
  }
  .testimonials__info-name,
  .testimonials__info-position {
    font-size: 14px;
  }
  .testimonials__slide {
    padding: 40px;
  }
}
.jobs__main {
  padding-bottom: 138px;
}

.jobs {
  background: #F4F5F6;
}

.jobs__img-box {
  padding-top: 31px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 40px auto;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr;
      grid-template: repeat(2, auto)/repeat(6, 1fr);
  gap: 40px;
}

.jobs__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 426px) {
  .jobs__main {
    display: none;
  }
}
.program__main {
  padding: 115px 0;
}

.program__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__content {
  max-width: 600px;
  margin-right: 30px;
}

.program__heading {
  margin-bottom: 60px;
}

.program__acc-link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 24px;
  padding-left: 40px;
  display: block;
}

.program__acc-item {
  padding-left: 40px;
}
.program__acc-item:last-child {
  margin-bottom: 0;
}

.program__acc-head {
  position: relative;
  font-size: 20px;
  color: #1E212C;
  font-weight: 700;
}
.program__acc-head span {
  font-weight: 400;
  margin-right: 8px;
  color: #FF3F3A;
}
.program__acc-head::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.program__acc-head::before, .program__acc-head::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  background-color: #FF3F3A;
  border-radius: 2px;
}

.program__acc-link--active .program__acc-head::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.program__acc-text {
  color: #424551;
  margin-top: 16px;
  line-height: 150%;
  font-size: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.program__acc-tekst--empty p {
  font-size: 16px;
}

@media (max-width: 900px) {
  .program__image {
    display: none;
  }
  .program__content {
    margin: 0 auto;
  }
  .program__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 426px) {
  .program__heading .heading__title {
    font-size: 37px;
    margin-bottom: 30px;
  }
  .program__acc-head {
    font-size: 18px;
  }
  .program__acc-link {
    padding: 0px 20px;
  }
}
.blog__item {
  max-width: 390px;
  margin-right: 30px;
}
.blog__item:last-child {
  margin-right: 0;
}

.blog__content-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.blog__heading .heading__title {
  margin-bottom: 0;
}

.blog__row {
  padding-bottom: 213px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__item-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__item-article {
  color: #787A80;
  margin-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog__item-article span {
  margin: 0 12px;
  height: 12px;
  width: 1px;
  background: #787A80;
}

.blog__item-img {
  border-radius: 4px;
  width: 100%;
}
.blog__item-img img {
  width: 100%;
}

.blog__item-badge {
  margin-top: 12px;
  margin-left: 12px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
  border-radius: 4px;
  background: #fff;
  max-width: 85px;
}

.blog__badge-title {
  line-height: 150%;
  font-size: 14px;
  margin-left: 4px;
}

.blog__article-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__data-text {
  line-height: 150%;
  margin-left: 8px;
}

.blog__item-text {
  padding: 8px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #1E212C;
}

.blog__aticle-oclock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__oclock-text {
  margin-left: 8px;
}

.blog__item-title {
  font-weight: 400;
  line-height: 160%;
  color: #424551;
  padding-bottom: 16px;
}

.blog__item-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1E212C;
  font-weight: 700;
  line-height: 160%;
}
.blog__item-link:hover {
  color: #FF3F3A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.blog__item-link::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("/img/arrow/RightRed.svg") 0 5px/100% no-repeat;
  margin-left: 11px;
}

@media (max-width: 1250px) {
  .blog__item-text {
    font-size: 18px;
  }
  .blog__item-title {
    font-size: 14px;
  }
  .blog__article-data,
  .blog__aticle-oclock,
  .blog__article-meta {
    font-size: 14px;
    text-align: center;
  }
  .blog__data-text {
    margin: 0;
  }
  .blog__data-img {
    display: none;
  }
}
@media (max-width: 1100px) {
  .blog__item-text {
    font-size: 16px;
  }
  .blog__item-title {
    font-size: 12px;
  }
}
@media (max-width: 900px) {
  .blog__row {
    padding: 0 0 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__item {
    border: 1px solid rgba(66, 69, 81, 0.1);
    border-radius: 4px;
    margin: 0 0 40px;
  }
  .blog__article-content {
    padding: 0 10px 10px;
  }
}
@media (max-width: 426px) {
  .blog__heading .heading__title {
    font-size: 35px;
  }
  .blog__heading .heading__subtitle {
    font-size: 14px;
  }
  .blog__row {
    padding: 0 0 120px;
  }
  .blog__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog__item {
    margin: 0 0 30px;
  }
}
.info {
  margin-bottom: 180px;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__follow-item {
  margin-top: 48px;
}

.info__follow-title {
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 24px;
  color: #1E212C;
}

.info__follow-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__follow-link {
  margin-right: 32px;
}
.info__follow-link:last-child {
  margin-right: 0;
}

.info__content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 24px;
  height: 24px;
}

.info__content {
  max-width: 395px;
  margin-right: 30px;
}

.info__content-item {
  line-height: 150%;
  margin-left: 12px;
}

.info__contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}
.info__contact-content:last-child {
  margin-bottom: 0;
}

.info__content-sub {
  font-weight: 700;
  font-size: 14px;
  color: #787A80;
}

.info__content-title {
  font-size: 18px;
  color: #1E212C;
}

.info__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 705px;
  width: 100%;
  height: 412px;
}

@media (max-width: 500px) {
  .info__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
  .info__contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 25px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info__content-sub {
    font-size: 20px;
    margin-right: 10px;
  }
  .info__content-img {
    width: 19px;
    height: 19px;
  }
  .info__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info__adress-img {
    display: none;
  }
  .info__adress-item .info__content-sub {
    text-align: center;
    margin: 0 0 10px 0;
  }
  .info__adress-item .info__content-title {
    font-size: 16px;
  }
  .info__follow-title {
    text-align: center;
  }
  .info__content-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .info__map {
    display: none;
  }
}
.questions {
  padding-bottom: 180px;
}

.questions__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__forms-agree {
  margin-top: 48px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions__item-text {
  color: #424551;
  margin-bottom: 8px;
  margin-bottom: 8px;
}

.questions__item-input {
  border: 1px solid #D7DADD;
  width: 340px;
  height: 52px;
  padding-left: 16px;
  border-radius: 4px;
  color: #9A9CA5;
  font-weight: 400;
  line-height: 160%;
}

.questions__form-item {
  max-width: 340px;
  display: block;
}

.questions__form {
  max-width: 705px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 25px auto;
  -ms-grid-columns: 1fr 25px 1fr;
      grid-template: repeat(2, auto)/repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 25px;
}

.questions__item-textarea {
  margin-top: 8px;
  padding: 13px 16px;
  color: #9A9CA5;
  font-weight: 400;
  line-height: 160%;
  resize: none;
  width: 100%;
  height: 128px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
}

.questions__agree-chekbox {
  max-width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox__custom {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #B3B7BC;
  width: 16px;
  height: 16px;
}
.checkbox__custom svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.checkbox__custom-text {
  line-height: 130%;
  margin-left: 12px;
}

.checkbox__custom--agree {
  border: 1px solid #FF3F3A;
  background: #FF3F3A;
}

.questions__agree-button {
  max-width: 340px;
  width: 100%;
  padding: 0 117px;
}

@media (max-width: 1100px) {
  .qustions__img {
    display: none;
  }
  .questions__content {
    margin: 0 auto;
  }
}
@media (max-width: 730px) {
  .questions__item-input {
    width: 310px;
    height: 52px;
    padding-left: 12px;
  }
  .questions__agree-chekbox {
    margin-right: 10px;
  }
}
@media (max-width: 660px) {
  .questions__form {
    gap: 20px;
  }
  .questions__item-input {
    width: 290px;
    height: 52px;
    padding-left: 16px;
  }
  .questions__agree-chekbox {
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  .questions__forms-agree .questions__agree-button {
    padding: 0 80px;
  }
  .questions__forms-agree .checkbox__custom-text {
    font-size: 14px;
  }
  .questions__form {
    -ms-grid-rows: (auto)[1];
    -ms-grid-columns: (1fr)[1];
        grid-template: repeat(1, auto)/repeat(1, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .questions__form-item {
    max-width: 543px;
    margin: 0 auto;
    width: 100%;
  }
  .questions__item-input {
    height: 52px;
    padding-left: 16px;
    width: 100%;
  }
}
@media (max-width: 460px) {
  .questions__item-input {
    height: 52px;
    padding-left: 16px;
    width: 100%;
  }
}
.footer__nav {
  margin-left: 80px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__footer {
  background: #1E212C;
}

.footer__text-item {
  max-width: 279px;
}

.footer__text-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__text-link {
  opacity: 0.6;
  margin-right: 20px;
}
.footer__text-link:last-child {
  margin-right: 0;
}
.footer__text-link:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main__footer-inner {
  padding-top: 80px;
  padding-bottom: 60px;
}

.footer__text {
  margin-top: 24px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.6;
  margin-bottom: 38px;
}

.footer__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav-title {
  margin-bottom: 12px;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: 1px;
  color: #fff;
}

.footer__nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}
.footer__nav-link:last-child {
  margin-bottom: 0;
}
.footer__nav-link a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 160%;
  color: #FFF;
  opacity: 0.6;
}
.footer__nav-link a:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__nav-link img {
  margin-right: 8px;
}

.footer__nav-courses {
  margin-left: 79px;
  margin-right: 79px;
}

.footer__form {
  margin-left: 80px;
}

.footer__input-text {
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 24px;
}

.footer__input-item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #3b3c3d;
  max-width: 286px;
}

.footer__input-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__input-subtitle {
  margin-top: 12px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  opacity: 0.7;
}

.footer-input {
  background: #3b3c3d;
  font-size: 12px;
  line-height: 150%;
  color: #FFF;
}

@media (max-width: 800px) {
  .footer__content {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__form,
  .footer__nav-site,
  .footer__nav-courses {
    display: none;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (max-width: 600px) {
  .footer__nav-contact,
  .footer__nav {
    display: none;
  }
}
@media (max-width: 1100px) {
  .overlay {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.349);
    visibility: hidden;
    opacity: 0;
  }
  .overlay---show {
    opacity: 1;
    visibility: visible;
  }
  .burger {
    z-index: 150;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0 1px 12px #a1a1a1;
            box-shadow: 0 1px 12px #a1a1a1;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .burger span {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    width: 30px;
    height: 3px;
    background-color: #424551;
    display: block;
    border-radius: 3px;
    margin: 5px 0;
  }
  .burger::before {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    content: "";
    width: 30px;
    height: 4px;
    background-color: #424551;
    display: block;
    border-radius: 3px;
  }
  .burger::after {
    content: "";
    width: 30px;
    height: 4px;
    background-color: #424551;
    display: block;
    border-radius: 3px;
  }
  .burger--active {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #424551;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .burger--active span {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    height: 4px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: -3px 0;
  }
  .burger--active::before {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger--active::after {
    display: none;
  }
  .header {
    padding-top: 92px;
  }
  .header__top {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    min-width: 320px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .header__top--open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header__top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 100px 0;
  }
  .header__logo {
    margin: 0;
  }
  .header__nav {
    text-align: center;
    margin: 0 auto;
  }
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav-item {
    margin: 0;
  }
  .header__nav-link {
    display: block;
    padding: 30px 0;
  }
  .header__btn-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header__user-nav {
    margin-bottom: 30px;
  }
  .header__top-btn {
    margin: 0;
  }
  .header__img {
    max-width: 450px;
  }
  .program__image img {
    max-width: 400px;
  }
}
@media (max-width: 900px) {
  .about___img {
    display: none;
  }
  .header__img {
    display: none;
  }
  .header__row {
    display: none;
  }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0px 150px;
    margin: 0 auto;
  }
  .about__createx-content {
    margin: 0 auto;
  }
  .about__btn-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__text {
    margin: 60px 0px;
  }
  .about__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__content-buttons {
    padding: 0 50px;
  }
  .container {
    margin: 0;
  }
}
@media (max-width: 450px) {
  .jobs__main {
    display: none;
  }
  .about__text {
    text-align: center;
    margin: 50px 10px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__text .about__paragraph--accent {
    font-size: 18px;
  }
  .about__text .about__paragraph {
    font-size: 14px;
  }

  .header__content{
    padding: 20px 0 20px;
 }


 .header__title{
    padding: 51px 0 100px;
 }

 .questions__agree-chekbox{
  margin-top: 20px;
 }

 .questions__agree-button{
  text-align: center;
 }

 .questions__forms-agree{
  display: flex;
  flex-direction: column-reverse;
 }

 
}